/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Poppins:wght@400;500;600&display=swap');

/*=============== VARIABLES CSS ===============*/
:root{
   --header-height: 3.5rem;

   /*========== Colors ==========*/
   /*Color mode HSL(hue, saturation, lightness)*/
   --first-color: hsl(238, 100%, 70%);
   --first-gradient: linear-gradient(90deg,
                   hsl(243, 96%, 54%),
                   hsl(296, 78%, 53%));
   --second-gradient: linear-gradient(90deg,
                   hsl(192, 94%, 49%),
                   hsl(224, 98%, 51%));
   --third-gradient: linear-gradient(90deg,
                   hsl(25, 96%, 55%),
                   hsl(34, 93%, 53%));
   --white-color: hsl(0, 0%, 100%);
   --text-color: hsl(0, 0%, 75%);
   --text-color-light: hsl(0, 0%, 55%);
   --border-color: hsl(0, 0%, 45%);
   --body-color: hsl(238, 100%, 12%);
   --body-color-light: hsl(238, 60%, 20%);

   /*========== Font and typography ==========*/
   /*.5rem = 8px | 1rem = 16px ...*/
   --body-font: "Poppins", sans-serif;
   --second-font: "Audiowide", sans-serif;

   --biggest-font-size: 3rem;
   --big-font-size: 1.5rem;
   --h1-font-size: 1.5rem;
   --h2-font-size: 1.25rem;
   --normal-font-size: .938rem;
   --small-font-size: .813rem;

   // Responsive typography
   @media screen and (min-width: 1150px){
      --biggest-font-size: 5.5rem;
      --big-font-size: 3rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
   }

	/*========== Font weight ==========*/
   --font-regular: 400;
   --font-medium: 500;
   --font-semi-bold: 600;

	/*========== z index ==========*/
   --z-tooltip: 10;
   --z-fixed: 100;
}
