/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px){
   .container{
      margin-inline: 1rem;
   }

   .home__title{
      font-size: 2.5rem;
   }

   .ctf__container{
      padding-inline: 1rem;
   }

   .explore__info{
      flex-direction: column;
      row-gap: 1rem;
      text-align: center;
   }
}

/* For medium devices */
@media screen and (min-width: 540px){
   .home__container,
   .explore__container{
      grid-template-columns: 350px;
      justify-content: center;
   }

   .ctf__card{
      width: 265px;
   }
}

@media screen and (min-width: 768px){
   .home__container,
   .explore__container{
      grid-template-columns: repeat(2, 350px);
      align-items: center;
   }

   .home__data,
   .explore__data .section__title,
   .explore__description{
      text-align: initial;
   }

   .explore{
      &__info{
         justify-content: initial;
      }
      &__img{
         order: -1;
      }
   }

   .history__container{
      grid-template-columns: repeat(2, 265px);
   }

   .contact{
      &__form{
         width: 600px;
         justify-self: center;
         display: grid;
         grid-template-columns: 1fr max-content;
         column-gap: 1rem;
         border: 2px solid var(--border-color);
         padding: 1rem 1rem 1rem 1.5rem;
      }
      &__input{
         border: none;
         padding: 0;
      }
   }
}

/* For large devices */
@media screen and (min-width: 1150px){
   .container{
      margin-inline: auto;
   }

   .section{
      padding-block: 7rem 2rem;

      &__title{
         margin-bottom: 3rem;
      }
   }

   .nav{
      height: calc(var(--header-height) + 2rem);

      &__logo img{
         width: 3rem;
      }

      &__toggle,
      &__close{
         font-size: 2rem;
      }
      &__menu{
         width: 40%;
         padding: 10rem 4.5rem 0;
      }
      &__list{
         row-gap: 3.5rem;
      }
      &__close{
         top: 1.7rem;
      }
      &__img{
         width: 400px;
         right: -4rem;
      }
   }

   .home{
      &__container{
         grid-template-columns: 540px 550px;
         column-gap: 2rem;
      }
      &__title{
         margin-bottom: 3rem;
      }
      &__ovni{
         width: 100px;
         top: 10rem;
         right: 1.5rem;
      }
      &__img{
         width: 550px;
      }
   }

   .ctf{
      &__lines{
         width: 800px;
      }
      &__container{
         padding: 3.5rem 3.5rem 7.5rem;

         & .section__title{
            text-align: initial;
         }
      }
      &__swiper{
         max-width: 980px;
      }
      &__card{
         padding-top: 11rem;
      }
      &__img{
         width: 200px;
      }
      &__info{
         margin-bottom: 1.5rem;
      }
      &__description{
         font-size: var(--normal-font-size);
      }
   }
   
   .swiper-pagination-bullets.swiper-pagination-horizontal{
      bottom: 3rem;
   }

   .explore{
      &__container{
         grid-template-columns: 550px 480px;
         column-gap: 2rem;
      }
      &__img{
         width: 550px;
      }
      &__data .section__title{
         margin-bottom: 1.5rem;
      }
      &__description{
         margin-bottom: 3rem;
      }
      &__planet{
         width: 100px;
         right: -4rem;
      }
   }

   .history{
      &__container{
         grid-template-columns: repeat(3, 265px);
         column-gap: 5rem;
      }
      &__img{
         width: 200px;
         margin-bottom: 1rem;
      }
      &__planet-1{
         width: 500px;
         left: -15rem;
      }
      &__planet-2{
         width: 300px;
         right: -8rem;
         bottom: 10rem;
      }
   }

   .footer{
      &__container{
         padding-block: 4rem 3rem;
      }
      &__links{
         column-gap: 4rem;
      }
      &__social{
         column-gap: 1.5rem;
      }
      &__planet-1{
         width: 400px;
         bottom: -12rem;
      }
      &__planet-2{
         width: 150px;
      }
   }

   .scrollup{
      right: 3rem;
   }
}
