<!DOCTYPE html>
   <html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="shortcut icon" href="static/img/favicon.png" type="image/x-icon">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css">
      <link rel="stylesheet" href="static/css/swiper-bundle.min.css">
      <link rel="stylesheet" href="static/css/styles.css">

      <title>Capture the flag</title>
   </head>
   <body>
      <!--==================== HEADER ====================-->
      <header class="header" id="header">
         <nav class="nav container">
            <a href="#" class="nav__logo">
               <img src="static/img/flag.png" alt="image"> CTF
            </a>

            <div class="nav__menu" id="nav-menu">
               <ul class="nav__list">
                  <li>
                     <a href="#home" class="nav__link active-link">Home</a>
                  </li>

                  <li>
                     <a href="#ctf" class="nav__link">Platforms</a>
                  </li>

                  <li>
                     <a href="#explore" class="nav__link">Exploration</a>
                  </li>

                  <li>
                     <a href="#history" class="nav__link">History</a>
                  </li>
               </ul>

               <!-- Close button -->
               <div class="nav__close" id="nav-close">
                  <i class="ri-close-large-line"></i>
               </div>

               <img src="static/img/nav-comet.svg" alt="image" class="nav__img">
            </div>

            <!-- Toggle button -->
            <div class="nav__toggle" id="nav-toggle">
               <i class="ri-menu-4-line"></i>
            </div>
         </nav>
      </header>

      <!--==================== MAIN ====================-->
      <main class="main">
         <!--==================== HOME ====================-->
         <section class="home section" id="home">
            <img src="static/img/home-bg.svg" alt="image" class="home__bg">

            <div class="home__container container grid">
               <div class="home__data">
                  <h1 class="home__title">
                     <span>CTF</span>
                     <span>BEGINS</span>
                     <span>NOW</span>
                  </h1>

                  <a href="/assistant" class="button" target="_blank">CTF ASSISTANT</a>

                  <img src="static/img/logo.png" alt="image" class="home__ovni">
               </div>

               <img src="static/img/Benefits-of-CTF-participation_2023.png"  alt="image" class="home__img">
            </div>
         </section>

         <!--==================== TRAVEL ====================-->
         <section class="ctf section" id="ctf">
            <img src="static/img/travel-lines.svg" alt="image" class="ctf__lines">

            <div class="ctf__container container">
               <h2 class="section__title">
                  CTF Platforms<span>for Participation</span>
               </h2>

               <div class="ctf__swiper swiper">
                  <div class="swiper-wrapper">
                     <article class="ctf__card swiper-slide">
                        <img src="static/img/rootme.png" alt="image" class="ctf__img">

                        <h3 class="ctf__title">Root-me</h3>
                        <span class="ctf__info"><a href="https://www.root-me.org/">Click here</span></a>

                        <p class="ctf__description">
                           A platform for everyone interested in cyber security, 
                           with a large number of tasks and challenges on various topics.                          
                        </p>
                     </article>

                     <article class="ctf__card swiper-slide">
                        <img src="static/img/immersivelabs.png" alt="image" class="ctf__img">

                        <h3 class="ctf__title">ImmersiveLabs</h3>
                        <span class="ctf__info"><a href="https://www.immersivelabs.com/">Click here</span></a>

                        <p class="ctf__description">
                           A platform for learning through hands-on experience in various aspects of cyber security.                           
                        </p>
                     </article>

                     <article class="ctf__card swiper-slide">
                        <img src="static/img/attackdefense.png" alt="image" class="ctf__img">

                        <h3 class="ctf__title">AttackDefense</h3>
                        <span class="ctf__info"><a href="https://attackdefense.com/">Click here</span></a>

                        <p class="ctf__description">
                           A platform that offers simulations of real attack
                            and defense scenarios to train cyber security skills.                          
                        </p>
                     </article>

                     <article class="ctf__card swiper-slide">
                        <img src="static/img/freehackquest.png" alt="image" class="ctf__img">

                        <h3 class="ctf__title">FreeHackQuest</h3>
                        <span class="ctf__info"><a href="https://freehackquest.com/en">Click here</span></a>

                        <p class="ctf__description">
                           FreeHackQuest – cyber security
                            learning platform with many interactive tasks and CTF competitions.                          
                        </p>
                     </article>
                     <article class="ctf__card swiper-slide">
                        <img src="static/img/hackinglab.png" alt="image" class="ctf__img">

                        <h3 class="ctf__title">Hacking-Lab</h3>
                        <span class="ctf__info"><a href="https://legacy.hacking-lab.com/services/">Click here</span></a>

                        <p class="ctf__description">
                           An online cybersecurity training and education
                            platform that hosts competitions and courses.                        
                        </p>
                     </article>
                     <article class="ctf__card swiper-slide">
                        <img src="static/img/capturetheflag.png" alt="image" class="ctf__img">

                        <h3 class="ctf__title">Capture The Flag</h3>
                        <span class="ctf__info"><a href="http://ctf.komodosec.com/">Click here</span></a>

                        <p class="ctf__description">
                           A general term for a cyber security competition where participants complete tasks to earn “flags”.                       
                        </p>
                     </article>
                     <article class="ctf__card swiper-slide">
                        <img src="static/img/cryptopals.png" alt="image" class="ctf__img">

                        <h3 class="ctf__title">CryptoPals</h3>
                        <span class="ctf__info"><a href="https://cryptopals.com/">Click here</span></a>

                        <p class="ctf__description">
                           CryptoPals – set of tasks focused on cryptography and cryptanalysis. 
                           They are aimed at the practical application of cryptographic principles.                      
                        </p>
                     </article>
                     <article class="ctf__card swiper-slide">
                        <img src="static/img/picoctf.png" alt="image" class="ctf__img">

                        <h3 class="ctf__title">PicoCTF</h3>
                        <span class="ctf__info"><a href="https://picoctf.com/">Click here</span></a>

                        <p class="ctf__description">
                            It contains game challenges that cover many aspects of cyber security, from 
                            cryptography to reverse engineering.                      
                        </p>
                     </article>
                  </div>
               </div>
               
               <!-- Pagination -->
               <div class="swiper-pagination"></div>
            </div>
         </section>

         <!--==================== EXPLORE ====================-->
         <section class="explore section" id="explore">
            <div class="explore__container container grid">
               <div class="explore__data">
                  <h2 class="section__title">
                     LEARN ABOUT <span>CTF</span>
                  </h2>

                  <p class="explore__description">
                    Capture The Flag (CTF) is a type of cybersecurity competition where 
                    participants solve challenges to find "flags" — specific pieces of text hidden 
                    within the tasks. These challenges can range from cryptography, web security, 
                    reverse engineering, forensics, and more. CTF events are an exciting way for 
                    cybersecurity enthusiasts to test and enhance their skills, learn new techniques,
                     and compete against others in real-world scenarios.

                     CTF competitions are widely used in the cybersecurity community to improve 
                     problem-solving skills, teamwork, and hands-on experience. Whether you're a
                      beginner or an experienced security professional, CTF offers a fun and educational 
                      environment for everyone.
                  </p>

                  <img src="static/img/ctf_new_gblock1.png"  alt="image" class="explore__planet">

                  <!-- <div class="explore__info">
                     <div>
                        <h3 class="explore__info-title">Types of </h3>
                        <h2 class="explore__info-number">Jeopardy-Style</h2>
                        <h2 class="explore__info-number">Attack-Defense</h2>

                     </div>

                     <div>
                        <h3 class="explore__info-title">CTF</h3>
                        <h2 class="explore__info-number">Boot-to-Root </h2>
                     </div>
                  </div> -->
               </div>

               <img src="static/img/What-is-Capture-the-Flag_2023.png" alt="image" class="explore__img">
            </div>
         </section>

         <!--==================== HISTORY ====================-->
         <section class="history section" id="history">
            <h2 class="section__title">
               CTF EVENT <span>STATISTICS</span>
            </h2>

            <img src="static/img/history-planet-1.svg" alt="image" class="history__planet-1">
            <img src="static/img/history-planet-2.svg" alt="image" class="history__planet-2">

            <div class="history__container container grid">
               <article class="history__card">
                  <img src="static/img/history-img-1.svg" alt="image" class="history__img">
                  <p class="history__description">
                     <span>Total Events Hosted Globally:</span>
                     Over 1,500 CTF events worldwide, driving global cybersecurity competition.
                  </p>
               </article>

               <article class="history__card">
                  <img src="static/img/history-img-2.svg" alt="image" class="history__img">
                  <p class="history__description">
                     <span>Active Teams:</span>
                     <br>Over 10,000 teams compete in CTF events globally.
                  </p>
               </article>

               <article class="history__card">
                  <img src="static/img/history-img-3.svg" alt="image" class="history__img">
                  <p class="history__description">
                     <span>Challenges Solved in 2023:</span>
                     <br>Over 200,000 challenges were solved globally in 2023.
                  </p>
               </article>
            </div>
         </section>

         <!--==================== CONTACT ====================-->
         <section class="contact section">
            <h2 class="section__title">
               GET OUR <span>LATEST NEWS</span>
            </h2>

            <div class="contact__container container grid">
               <form action="" class="contact__form">
                  <input type="email" placeholder="Email Adress" name="email" autocomplete="email" class="contact__input">
                  <button type="submit" class="button button__yellow">Email Address</button>
               </form>
            </div>
         </section>
      </main>

      <!--==================== FOOTER ====================-->
      <footer class="footer">
         <div class="footer__container container grid">
            <img src="static/img/footer-planet-1.svg" alt="image" class="footer__planet-1">
            <img src="static/img/footer-planet-2.svg" alt="image" class="footer__planet-2">

            <div class="footer__content grid">
               <ul class="footer__links">
                  <li>
                     <a href="#" class="footer__link">HOME</a>
                  </li>

                  <li>
                     <a href="#" class="footer__link">PLATFORMS</a>
                  </li>

                  <li>
                     <a href="#" class="footer__link">EXPLORE</a>
                  </li>
               </ul>

               <!-- <div class="footer__social">
                  <a href="https://www.facebook.com/" target="_blank" class="footer__social-link">
                     <i class="ri-facebook-fill"></i>
                  </a>

                  <a href="https://www.instagram.com/" target="_blank" class="footer__social-link">
                     <i class="ri-instagram-fill"></i>
                  </a>

                  <a href="https://twitter.com/" target="_blank" class="footer__social-link">
                     <i class="ri-twitter-x-fill"></i>
                  </a>
               </div> -->
            </div>

            <span class="footer__copy">
                We’d love to stay in touch!
            </span>
         </div>
      </footer>

      <a href="#" class="scrollup" id="scroll-up">
         <i class="ri-arrow-up-line"></i>
      </a>

      <script src="static/js/scrollreveal.min.js"></script>
      <script src="static/js/swiper-bundle.min.js"></script>
      <script src="static/js/main.js"></script>
   </body>
</html>